release/*
releases/*
keys/*
hemtt
hemtt.exe
tools/hemtt*.tar.gz*
tools/hemtt*.zip*
.hemtt/local
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
Thumbs.db
*.log
/store/function_library/*
/store/wiki/*
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.template*.json
changelog.txt
steamcmd

*.7z

/addons/CBA_Project.sublime-workspace

*~
*#

tools/ndocs-project/Data/*

ArmaScriptCompiler.exe
*.sqfc
.hemttout
scratch
unpacked-mods/*
!unpacked-mods/.gitkeep
.hemtt/missions/*
!.hemtt/missions/Dev.VR.Template
